html, body {
  font-size: 14px;
  font-family: monospace;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(39, 40, 34);
}

a, a:visited {
  color: #01baff;
  padding: 2px;
}

a:hover {
  background-color: #01baff;
  color: white;
}

#header {
  background: #1a1b16;
}

#header .title {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

#main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#main .description, #main .code {
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

#main .description {
  padding: 10px;
}

#ui {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}
