/* The lint marker gutter */
.CodeMirror-lint-markers {
  width: 16px;
}

.CodeMirror-lint-tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: monospace;
  font-size: 10pt;
  overflow: hidden;
  padding: 2px 5px;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  /*max-width: 600px;*/
  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 6px;
  width: 6px;
  height: 6px;
  margin-top: 5px;
  margin-left: 20px;
}

.CodeMirror-lint-marker-error {
  background: red;
}

.CodeMirror-lint-marker-warning {
  background: orange;
}

.CodeMirror-lint-marker-multiple {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid orange;
  top: -2px;
  left: -2px;
  padding: 0;
}

.CodeMirror-lint-message-error::before,
.CodeMirror-lint-message-warning::before {
  background-color: #000;
  float: left;
  font-size: 0.9em;
}

.CodeMirror-lint-message-error::before {
  content: '[error] ';
  color: red;
}

.CodeMirror-lint-message-warning::before {
  content: '[warning] ';
  color: orange;
}
